{
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "printWidth": 80
}
