---
import Name from '../components/Name.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="mt-0 sm:mt-0 md:mt-5 lg:mt-10 xl:mt-20">
        <Name />
    </div>
</Layout>
